@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
.question {
    height: 1000px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black ;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 10px;
}

.upper-container{
    height: 100px;
    background: #ffe5e1;
}

.upper-container h1{
    color: rgb(224, 115, 115);
    font-size: 40px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
    font-weight: bolder;
  }
  

img{
    width: 240px;
    height: 280px;
}
.container h2{
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: x-large;
}

.low-container {
    margin-top: 10px;
    background: white;
    height: 300px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: center;
}


.h3{
    color: #2f2d2e;
    font-family: 'Sansita Swashed', cursive;
    margin-left: 80px !important;
    margin-top:20px !important;
}

.button{
    width: 250px;
    height: 60px;
    margin-top: 0;
    color: #2f2d2e;
    font: bold;
    background-color: white;
    border: 2px solid rgb(99, 29, 29);
    padding: 0.6rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
}
.button:hover{
    background-image: linear-gradient(to left, #2d00f7, #ff0291);
    border: none;
    transform: scale(1.2);
    color: white;
}
.profile-pic {
    width: 200px;
    max-height: 200px;
    display: inline-block;
}

.file-upload {
    display: none;
}

.upload-button {
  font-size: 1.2em;
  position:relative; 
  top: 80px; left:-50px;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

.qotd-title {
    font-family: 'Sansita Swashed', cursive;
    position: relative;

}

.qotd {
    text-align: center;
    border: 3px solid black;
    color: white;
    background-color: rgb(99, 29, 29);
    border-radius: 25px;
    margin-left: 60px  !important;
}

.modal-bg {
    background-color: rgb(99, 29, 29);
}

.modal-header {
    background-color: #ffe5e1;
    color: rgb(99, 29, 29);
}