.question {
    width: 700px;
    height: 700px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black ;
    overflow: hidden;
    margin-left: 20px
}

.upper-container{
    height: 100px;
    background: linear-gradient(to left, #2d00f7, #ff0291) ;
}

.upper-container h1{
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
    font-weight: bolder;
  }
  
/* .image-container img{
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(95px,45px);
    border: 2px solid #8e00b9;
} */
img{
    width: 250px;
    height: 250px;
}
.container h2{
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: x-large;
}

.low-container {
    margin-top: 5px;
    background: white;
    height: 300px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: center;
}


.low-container h3{
    color: #2f2d2e;
    font-weight: 600;
    font-size: 1.5rem;
}
.low-container h4{
    color: #8e00b9;
    font-weight: 700;
    font-size: 1.2rem;
}

.low-container p{
    margin: 1rem;
    color: #2f2d2e;
    font-size: 0.9rem;
    font-family:  sans-serif;
    text-align: justify;
}

.button{
    width: 250px;
    height: 60px;
    margin-top: 0;
    color: #2f2d2e;
    font: bold;
    background-color: white;
    border: 2px solid #8e00b9 ;
    padding: 0.6rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
}
.button:hover{
    background-image: linear-gradient(to left, #2d00f7, #ff0291);
    border: none;
    transform: scale(1.2);
    color: white;
}

.app {
    background-color: #c3c8d8;
    width: 450px;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
  }
  
  .score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
  }
  
  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    width: 100%;
    position: relative;
  }
  
  .question-count {
    margin-bottom: 20px;
  }
  
  .question-count span {
    font-size: 28px;
  }
  
  .question-text {
    margin-bottom: 12px;
  }
  
  .timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .answer-section  button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
  }
  
  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  .answer-section button:hover {
    background-color: #555e7d;
  }
  
  .answer-section button:focus {
    outline: none;
  }
  
  .answer-section button svg {
    margin-right: 5px;
  }
  .profile-pic {
    width: 200px;
    max-height: 200px;
    display: inline-block;
}

.file-upload {
    display: none;
}

.upload-button {
  font-size: 1.2em;
  position:relative; top: 90px; left: 65px;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}